body {
    background-image: url('https://images.pexels.com/photos/46160/field-clouds-sky-earth-46160.jpeg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
    font-family: Arial;
  
  
}

#mainHead{
    background-color: rgba(126, 178, 238, 0.6);
    text-align: center;
    justify-content: center;
    width: 65%;
    align-items: center;
    margin: auto;

   
}
#mainHead ul li {
    margin-right: auto;
    display: inline-block; 
    padding: 20px;
    padding-left: 5px;
    cursor: pointer ;
    font-size: 16px;
} 

#mainHead li:hover {
    background-color: black;
    color: white;
}

#navDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

#pageName{
    color: whitesmoke;
    
}
#nameDiv{
    display: flex;
    position: absolute;
    left: 10;
    top: 0;
    gap: 20px;
    font-size: 12px;
}

#outerNavDiv{
    
    width: 50%;
}

#welcomeDiv{
    background-color: rgb(126, 178, 238);
    border: black solid 2px;
    text-align: center;
    width: 50%;
    justify-content: center;
    margin:auto;
}

#randFore{
    background-color: rgb(126, 178, 238);
    border: black solid 2px;
    text-align: center;
    width: 50%;
    justify-content: center;
    margin:auto;
}

#homesearchDiv{
    border: solid black 2px;
    background-color: rgb(126, 178, 238);
    width: 50%;
    align-items: center;
    text-align: center;
}

#serandDiv{
    display: flex;
    width: 50%;
    margin: auto;
    gap : 10px;
}

#here{
    cursor: pointer;
    color: blue ;
    text-decoration: underline;
}

#searchPageDiv{
    border: solid black 2px;
    background-color: rgb(126, 178, 238);
    display:inline-block;
    margin-left:10px;
    padding: 5px;
}

#accountpageDiv{
    border: solid black 2px;
    background-color: rgb(126, 178, 238);
    width: 50%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}